nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>

"'* NERDTree plugin
" Enulates NERDTree
" Basic Commands:
" Ctrl-n Open NERDTree (mapped bellow)
Close the NERDTree window
Open files, directories and bookmarks
RO
Open selected file, but leave cursor in the NERDTree
Open selected file in a split window
Sane as 1, but leave the cursor on the NERDTree
Open selected file in a new split
Same as s, but leave the cursor on the NERDTree
Jump down to next sibling of the current directory
Jump up to previous sibling of the current directory
Recursively refresh the current root
Display the NERDTree menu
hetps://eithub.com/JetBrains/ideavim/wiki/NERDTree-support for details

set number relativenumber
"https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
map <c-n> :NERDTree<CR>
":NERDTreeFocus
":NERDTreeToggle
":NERDTreeClose
":NERDTreeFind
":NERDTreeRefreshRoot

